@{
	ViewBag.Title = "Edit";
}
<div id="attribute-data-container">
</div>

<script id="attribute-template" type="text/x-handlebars-template">
	{{#each roots}}
		<h2>{{name}} ({{groupId}})</h2>
		{{#each attributes}}
			<ul>{{> attribute}}</ul>
		{{/each}}
	{{/each}}
</script>

<script id="attribute-partial" type="text/x-handlebars-template">
	<li>
		{{name}} ({{attributeId}})
		{{#if attributes}}
			<ul>
				{{#each attributes}}
					{{> attribute}}
				{{/each}}
			</ul>
		{{/if}}
	</li>
</script>	

@section scripts
{
	<script type="text/javascript">
		$(function () {
			var attributeTemplateSource = $("#attribute-template").html();
			var attributePartialSource = $("#attribute-partial").html();
			var attributeTemplate = Handlebars.compile(attributeTemplateSource);
			Handlebars.registerPartial("attribute", attributePartialSource);
			var $attributeDataContainer = $("#attribute-data-container");

			$.ajax({
				url: '/attribute/root',
				type: 'GET',
				dataType: 'json',
				success: function (data) {
					var html = attributeTemplate(data);
					$attributeDataContainer.html(html);
				}
			});
		});
	</script>
}
